#cockpit {
    height: 1fr;
    grid-size: 2 2;
    grid-columns: 1fr 1fr;
    grid-rows: 1fr 1fr;
}

#cmdline {
    dock: bottom;
    height: 9;
}

#cmdlog {
    height: 1fr;
    border: round $primary-darken-2;
    padding: 0 1;
}

#cmdinput {
    dock: bottom;
}

.section {
    color: $text-muted;
    margin: 1 0 0 0;
}
